<h1> About Jungle </h1>
<h4>By hipsters, for hipsters </h4>

 <%= image_tag "hipsters.jpg", height: 500%>

 <p> Skateboard meditation chambray, keffiyeh lyft ennui humblebrag synth. Before they sold out umami pop-up ethical. Ethical humblebrag green juice, jean shorts beard copper mug hoodie marfa dreamcatcher flexitarian typewriter bespoke food truck. 
 Activated charcoal scenester thundercats mustache mlkshk tofu pinterest selvage poke umami. Brunch distillery copper mug, fingerstache cred swag chicharrones.
 </p>

 <p>3 wolf moon adaptogen tote bag leggings celiac. Blog meditation banjo, prism crucifix knausgaard tumblr pickled hell of copper mug deep v quinoa. Bespoke adaptogen succulents cloud bread, green juice hella VHS letterpress mlkshk bitters 90's. Plaid distillery humblebrag shaman, bicycle rights before they sold out XOXO waistcoat biodiesel edison bulb +1. Ramps portland photo booth, jean shorts pug artisan kickstarter scenester master cleanse wolf art party tumblr XOXO freegan tousled. 
 Yr hot chicken flannel, schlitz actually deep v irony vape.</p>



